<!DOCTYPE html>
<html>
<head>
    <title> LifeStyle </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="stylesheets/semanticUI/semantic.css">
</head>
<body style="background: #F1E2D3; padding: 50px; ">
<h1>DOBRDOŠLI NA TODO APLIKACIJU!!</h1>
<div class="ui raised clearing segment">
    <h3>Kreirate svoj račun ako već niste ili se prijavite na svoj račun i organizujte svoje obaveze.</h3>
    <form action="register">
        <input type='submit' value='REGISTRUJ SE' class="ui button">

        <input type='submit' value='PRIJAVI SE' formaction="/login" class="ui button"></form>
</div>
</body>
</html>
