<!DOCTYPE html>
<html>
<head>
    <title>LifeStyle </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="stylesheets/semanticUI/semantic.css">


</head>
<body style="background: #F1E2D3; padding: 50px; ">

<div > <h1>PRIJAVA NA RAČUN</h1></div>
<div class="ui clearing compact raised segment">
    <form class="ui form" action="/login" method="post" >
        <div>
            <label>Korisničko ime:</label>
            <input type="text" name="username" value="">
        </div>

        <div>
            <label> Lozinka:</label>
            <input type="password" name="password" value="">
        </div>

        <input type="submit" value="PRIJAVI SE" name="login"  class="ui button" >

    </form>
</div>
</body>
</html>