<!DOCTYPE html>
<html>
<head>
    <title>LifeStyle </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="stylesheets/semanticUI/semantic.css">


</head>
<body style="background: #F1E2D3; padding: 50px; ">

<div > <h1>REGISTRACIJA RAČUNA</h1></div>
<div style="width: 300px; " class="ui clearing compact raised segment" >
    <form  class="ui form" action="/register" method="post" >
        <div class="field" >
            <label>Korisničko ime:</label>
            <input type="text" placeholder="Ime" name="username" value="">
        </div>

        <div class="field">
            <label> Lozinka:</label>
            <input type="password" placeholder="Lozinka" name="password" value="">
        </div>

        <input type="submit" value="REGISTRUJ SE" name="register"  class="ui button" style="float: right" >

    </form>
</div>
</body>
</html>